{% extends "boardgames/base.html" %}

{% block content %}


<p>{{ game }}</p>
<ul>
{% for loan in loans %}
    <li>
        
        <p>{{ loan.loaner }} {% if loan.on_loan == True %} has loaned this game.
{%else%} This game is available to loan.</p>
{%endif%}
        <p>
                <a href="{% url 'boardgames:edit_loan' loan.id %}">Edit loan</a>
        </p>
        </li>
{%empty%}
<li>This game is available.</li>
{%endfor%}
</ul>
<p><a href="{% url 'boardgames:new_loan' game.id %}">Loan this game</a></p>

    

{%endblock content%}